.footer {
  background-color: #CBDCBD;
  
}

.inner {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 25px 60px;
 text-align: center;
 font-weight: 400;

 @media (max-width: 767px) {
   flex-direction: column;
 }
}

.links {
 @media (max-width: 767px) {
   margin-top: 20px;
   margin-bottom:20px;
 }
}

.footer-logo {
  width: 100px; 
  height: auto; 
  
}
