.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding-left: 80px;
  padding-right: 80px;
  background: #063a3a;
  background-size: 100% 0%;
  background-repeat: no-repeat;
  z-index: 1000;
  transition: background-size 0.3s ease, border-radius 0.3s ease, background-color 0.3s ease;
}

.header.scrolled {
  background-size: 100% 100%;
  border-radius: 50px;
  background-color: #CBDCBD;
  /* Final color */
}

.link {
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 80px;
  padding-right: 80px;
  text-decoration: none;
  color: #cbdcbd;
  font-weight: 500;
  font-size: 15px;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

@media (max-width: 767px) {
  .link {
    height: 42px;
    width: 100%;
  }

  .header {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.drawer-link {
  color:#063a3a !important;
  padding-left: 30px;
  padding-right: 30px;
}