/* Global styles for body, box model, and layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
}

.card-title {
  font-family: "Inter", sans-serif;
  margin-top: 15px;
  font-size: 1.875rem; /* 30px */
  margin-bottom: 10px;
}

.card-icon {
  border-radius: 10px;
  width: 30px;
  height: 30px;
  background-color: #f8e805;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-point {
  font-family: "Rubik", sans-serif;
  font-size: 1.25rem; /* 20px */
  line-height: 1.5;
}

/* SimpleGrid Adjustments */
.simple-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 20px;
  justify-items: center;
}

/* Adjust card content */
.product-card-container {
  padding: 20px;
}

@media (max-width: 1200px) {
  .card-title {
    font-size: 1.75rem; /* 28px */
  }
  .card-point {
    font-size: 1.125rem; /* 18px */
  }
}

@media (max-width: 992px) {
  .card-title {
    font-size: 1.5rem; /* 24px */
  }
  .card-point {
    font-size: 1rem; /* 16px */
  }

  .simple-grid-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .card-title {
    font-size: 1.25rem; /* 20px */
  }
  .card-point {
    font-size: 0.875rem; /* 14px */
  }

  .simple-grid-container {
    grid-template-columns: 1fr;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .card-title {
    font-size: 1.125rem; /* 18px */
  }
  .card-point {
    font-size: 0.875rem; /* 14px */
  }

  .simple-grid-container {
    padding: 10px;
  }
}
