/* Hero Section */
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.hero-title {
  font-family: "Inter", sans-serif;
  text-wrap: balance;
  font-size: 3.5em;
  text-align: center;
}

.hero-title-seperator {
  font-family: "Inter", sans-serif;
  text-wrap: balance;
  color: #063a3a;
  font-weight: 600;
  font-size: inherit;
}

.hero-description {
  color: #063a3a;
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  text-align: center;
}

.hero-description-bold {
  font-weight: 700;
}

.button-text {
  color: #063a3a;
  font-family: "Inter", Arial, sans-serif;
  font-size: 1.13em;
  font-weight: 700;
  line-height: 1.5;
}

@media screen and (max-width: 1400px) {
  .hero-title {
    font-size: 3em;
    line-height: 1.2;
  }

  .hero-title-seperator {
    font-size: inherit;
  }
}

@media screen and (max-width: 1200px) {
  .hero-title {
    font-size: 2.7em;
    line-height: 1.2;
  }

  .hero-title-seperator {
    font-size: inherit;
  }

  .hero-description {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 767px) {
  .hero-title {
    font-size: 2.3em;
    line-height: 1.2;
  }

  .hero-title-seperator {
    font-size: inherit;
  }

  .hero-description {
    font-size: 1em;
  }

  .hero-section {
    padding: 15px;
  }
}

/* Feature Section */
.feature-section {
  margin: 40px 50px;
}

.feature-section-title {
  font-family: "Inter", sans-serif;
  font-size: 2.5em;
  color: #063a3a;
  text-align: center;
  margin-bottom: 30px;
}

.feature-section-description {
  font-family: "Rubik", sans-serif;
  font-size: 1.25em;
  color: #063a3a;
  text-align: center;
}

.feature-section-text {
  font-family: "Rubik", sans-serif;
  font-size: 1.25em;
}

@media screen and (max-width: 1400px) {
  .feature-section-title {
    font-size: 2.2em;
  }
}

@media screen and (max-width: 1200px) {
  .feature-section-title {
    font-size: 2em;
  }

  .feature-section-description {
    font-size: 1.1em;
  }

  .feature-section-text {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 767px) {
  .feature-section-title {
    font-size: 1.8em;
  }

  .feature-section-description {
    font-size: 1em;
  }

  .feature-section-text {
    font-size: 1em;
  }

  .feature-section {
    margin: 20px 10px;
  }
}

/* Pre footer */
.pre-footer-text {
  text-align: center;
  color: #063a3a;
  font-size: 2em;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 600;
  line-height: 1.1875;
  text-wrap: balance;
}

.pre-footer-text-underline {
  color: #063a3a;
}

/* Keyframe Animations */
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: black;
  }
}

.text-typewriter {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typewriter 2s steps(40) 1s 1 normal both,
    blink 0.75s step-end infinite;
}
